{% extends "core.html" %}
{% block page_title %}Detail záznamu{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"><img style="width: 8rem;" src="\static\ico.png" alt="Record IMG"></div>
        <div class="col-9"> <h1 class="display-1">{{content[0]}}</h1>
    </div>
    <div class="row mt-2 mb-2 border">
        {{content[1]}}
    </div>
    <div class="row">
        {{content[2]}} {{content[3]}}
    </div>
    {% if session %}
    <div class="row">
        <a class="btn btn-danger" href="/del-record/{{content[4]}}">Smazat záznam</a>
    </div>
    {% endif %}
</div>
{% endblock %}