{% extends "core.html" %}
{% block page_title %}Detail záznamu{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"><img style="width: 8rem;" src="\static\ico.png" alt="Record IMG"></div>
        <div class="col-9"> <h1 class="display-1">Nový záznam</h1>
    </div>
    <div class="row mt-2 mb-2 border">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, ipsum sapiente. Quia nostrum ducimus quis nisi, voluptates optio necessitatibus eveniet aliquid quae eligendi officiis tempore sunt? Placeat sequi voluptates suscipit!
    </div>
    <div class="row">
        admin 08.04.2025
    </div>
</div>
{% endblock %}